@mixin flex-column($gap:0rem){
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.auth-main{
  min-height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;

  .auth-forms {
     width: 100%;
     display: flex;
     justify-content: center;
  }

  .form-container{
    @include flex-column(1rem);
    min-width:350px;

    form{
      @include flex-column(1rem);

      input{
        border:none;
        outline:none;
        padding-inline:1rem;
        padding-block: 1rem;
        border-radius: 1rem;
        background-color: #222;
        color: white;
      }
    }
  }
  
  a {
    color: #0095f6;
  }
}